@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.panel-login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40rem;
    width: 70rem;
    background-color: #ffff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px #000;
}

.side-right{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5DADE2;
    height: 100%;
    width: 75%;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px #000;
}

.side-left{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.text-group{
    height: 8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    font-size: 20px;
    margin-top: 1rem;
    color: #5DADE2;
    background-color: #67f88600;
}


.text-group p{
    color: #c5c5c5;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.form-container label, p{
    color: #666666;
}

.input-user-name{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-user-name .fa-user{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e2e2;
    height: 2.5rem;
    width: 2rem;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: #5DADE2;
}

#userName{
    background-color: #e2e2e2;
    border: none;
    height: 2.5rem;
    width: 20rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 16px;
}

.input-user-email{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-user-email .fa-at{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e2e2;
    height: 2.5rem;
    width: 2rem;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: #5DADE2;
}

#userEmail{
    background-color: #e2e2e2;
    border: none;
    height: 2.5rem;
    width: 20rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 16px;
}

.input-user-password{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-user-password .fa-lock{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e2e2;
    height: 2.5rem;
    width: 2rem;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: #5DADE2;
}

#userPassword{
    background-color: #e2e2e2;
    border: none;
    height: 2.5rem;
    width: 20rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 16px;
}

.input-user-confirm-password{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-user-confirm-password .fa-lock{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e2e2;
    height: 2.5rem;
    width: 2rem;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: #5DADE2;
}

#userConfirmPassword{
    background-color: #e2e2e2;
    border: none;
    height: 2.5rem;
    width: 20rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 16px;
}

.g-recaptcha{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-reg{
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnRegister{
    height: 2.5rem;
    width: 8rem;
    font-size: 20px;
    color: #5DADE2;
    background-color: transparent;
    border: 2px solid #5DADE2;
    border-radius: 15px;
    cursor: pointer;
    transition: .5s;
}

#btnRegister:hover{
    background-color: #5DADE2;
    color: #fafafa;
}