@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.panel-login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40rem;
    width: 70rem;
    background-color: #ffff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px #000;
}

.side-right{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5DADE2;
    height: 100%;
    width: 75%;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px #000;
}

.side-left{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.text-group{
    height: 8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    font-size: 20px;
    color: #5DADE2;
    background-color: #67f887;
}


.text-group p{
    color: #c5c5c5;
}

.form-container{
    height: 55%;
    width: 100%;
    background-color: #ffc56d;
}

.captcha{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    width: 100%;
    background-color: #6d6fff;
}

.btn-reg{
    height: 3rem;
    width: 100%;
    background-color: #ff6d6d;
}